h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9A9483;
}

body {
    margin: 0 ;
   background-color: #E5DCC3;
}


div {
    background-color: #E5DCC3;
    margin: 0 ;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9A9483;
    font-size: 25px;
}

.horizontal {
    color:aliceblue;
}

.Intro {
    border: #ada698 2px solid; 
}

.About {
    background-color: rgb(179, 179, 179);
}