body {
    background-image: url(italian.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #F9D5A7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.anchor {
    color:#F9D5A7;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-decoration: none;
  
}

.anchor:active {   
    color: white;
    background-color:antiquewhite;
}
